<% include header%>
<div class="detail">
<ul>
<li class="vet"> Locatie </li>
<li><%=markt.attributes.locatie %></li>
<li class="vet"> District </li>
<li><%=markt.attributes.district %></li>
<li class="vet"> Soort markt </li>
<li><%=markt.attributes.soort %></li>
<li class="vet"> Marktdag(en) </li>
<li><%=markt.attributes.marktdag1 %></li>
<li><%=markt.attributes.marktdag2 %></li> //if "geen" dan display none
<li class="vet"> Markt van - tot </li>
<li><%=markt.attributes.van %> - <%=markt.attributes.tot %></li>
</ul>
</div>
<% include footer%>
