<% include header%>
<ul>
<li><%=markt.attributes.locatie %></li>
<li><%=markt.attributes.district %></li>
<li><%=markt.attributes.soort %></li>
<li><%=markt.attributes.marktdag1 %></li>
<li><%=markt.attributes.marktdag2 %></li>
<li><%=markt.attributes.van %></li>
<li><%=markt.attributes.tot %></li>
</ul>
<% include footer%>
